
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Your Learning Portal</title>
    <link rel="stylesheet" href="./css/style1.css">

</head>
<body>
    <div class="container">
        <h1>Secure Your Learning Portal</h1>
        <p>Choose a unique username and a secure password</p>
         <form action="/login" method="post">
            <input type="text" name="email" class="input-field" placeholder="Email">
            <input type="password" name="password" class="input-field" placeholder="Password">
            <button class="button">NEXT</button>
        </form>
    </div>
</body>
</html>

